{% extends "layout.html" %}

{% block content %}
<main>
    <section class="container about-us">
        <h2 class="titulo">Nuestra tienda desde 0</h2>
        <div class="container-about-us">
            <img src="C:\Users\USUARIO\Documents\Interfaz\img\epcc.png" alt="" class="img-about-us"
            width=200px height=200px/>       
            <div class="container-txt">
                <h3><span>1. </span>Los mejores productos de lo que vayamos a hacer</h3>
                <h3><span>2. </span>Los mejores productos de lo que vayamos a hacer</h3>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container-footer">
        <div class="content-foo">
            <h4>Telefonos</h4>
            <p>123456788</p>
            <p>122748587</p>
        </div>
        <div class="content-foo">
            <h4>Participantes</h4>
            <p>Maryori</p>
            <p>Luis</p>
            <p>Andres</p>
        </div>
    </div>
</footer>

{% endblock %}